---
import { FadeIn } from "@/components/FadeIn";
import Home from "./index.tsx";

import Container from "@/components/Container.astro";
import Testimonial from "@/components/Testimonial.astro";
import ContactSection from "@/components/ContactSection.astro";

import Clients from "./partials/Clients.astro";
import CaseStudies from "./partials/CaseStudies.astro";
import Services from "./partials/Services.astro";

import logoPhobiaDark from "@/images/clients/phobia/logo-dark.svg";
---

<Container>
    <FadeIn client:load className="max-w-3xl">
        <h1
            class="font-display text-5xl font-medium tracking-tight text-neutral-950 [text-wrap:balance] sm:text-7xl"
        >
            Award-winning development studio based in Denmark.
        </h1>
        <p class="mt-6 text-xl text-neutral-600">
            We are a development studio working at the intersection of design
            and technology. It’s a really busy intersection though — a lot of
            our staff have been involved in hit and runs.
        </p>
    </FadeIn>
</Container>

<Clients />

<CaseStudies />

<Testimonial
    class="mt-24 sm:mt-32 lg:mt-40"
    client={{ name: "Phobia", logo: logoPhobiaDark.src }}
>
    The team at Studio went above and beyond with our onboarding, even finding a
    way to access the user’s microphone without triggering one of those annoying
    permission dialogs.
</Testimonial>

<Services />

<ContactSection />
