---
import { Image } from "astro:assets";

import { FadeIn, FadeInStagger } from "@/components/FadeIn";
import Container from "@/components/Container.astro";

import logoBrightPath from "@/images/clients/bright-path/logo-light.svg";
import logoFamilyFund from "@/images/clients/family-fund/logo-light.svg";
import logoGreenLife from "@/images/clients/green-life/logo-light.svg";
import logoHomeWork from "@/images/clients/home-work/logo-light.svg";
import logoMailSmirk from "@/images/clients/mail-smirk/logo-light.svg";
import logoNorthAdventures from "@/images/clients/north-adventures/logo-light.svg";
import logoPhobiaDark from "@/images/clients/phobia/logo-dark.svg";
import logoPhobiaLight from "@/images/clients/phobia/logo-light.svg";
import logoUnseal from "@/images/clients/unseal/logo-light.svg";
import logoIdSoftware from "@/images/inspirations/id-software-logo-svg-vector.svg";
import logoDoom from "@/images/inspirations/16023_doom.png";

const clients: [string, ImageMetadata, string | undefined][] = [
  ["id Software", logoIdSoftware, "bg-white"],
  ["DooM", logoDoom, undefined],
];
---

<div class="mt-24 rounded-4xl bg-neutral-950 py-20 sm:mt-32 sm:py-32 lg:mt-56">
  <Container>
    <FadeIn client:load className="flex items-center gap-x-8">
      <h2
        class="text-center font-display text-sm font-semibold tracking-wider text-white sm:text-left"
      >
        Our inspirations
      </h2>
      <div class="h-px flex-auto bg-neutral-800"></div>
    </FadeIn>
    <FadeInStagger faster client:load>
      <ul
        role="list"
        class="mt-10 grid grid-cols-2 gap-x-8 gap-y-10 lg:grid-cols-4"
      >
        {
          clients.map(([client, logo, className]) => (
            <li key={client as string}>
              <FadeIn client:load>
                <Image class={className} src={logo} height={36} alt={client} />
              </FadeIn>
            </li>
          ))
        }
      </ul>
    </FadeInStagger>
  </Container>
</div>
