---
import { ContactSection } from "@/components/ContactSection";
import Container from "@/components/Container.astro";
import { FadeIn } from "@/components/FadeIn";
import { List, ListItem } from "@/components/List";
import { SectionIntro } from "@/components/SectionIntro";
import { StylizedImage } from "@/components/StylizedImage";
import { Testimonial } from "@/components/Testimonial";
import logoPhobiaDark from "@/images/clients/phobia/logo-dark.svg";
import imageLaptop from "@/images/laptop.jpg";
import { type CaseStudy, type MDXEntry } from "@/lib/mdx";
---

<SectionIntro
    eyebrow="Services"
    title="We help you identify, explore and respond to new opportunities."
    className="mt-24 sm:mt-32 lg:mt-40"
    client:load
>
    <p>
        As long as those opportunities involve giving us money to re-purpose old
        projects — we can come up with an endless number of those.
    </p>
</SectionIntro>

<Container class="mt-16">
    <div class="lg:flex lg:items-center lg:justify-end">
        <div class="flex justify-center lg:w-1/2 lg:justify-end lg:pr-12">
            <FadeIn class="w-[33.75rem] flex-none lg:w-[45rem]" client:load>
                <StylizedImage
                    src={imageLaptop.src}
                    sizes="(min-width: 1024px) 41rem, 31rem"
                    className="justify-center lg:justify-end"
                    client:load
                />
            </FadeIn>
        </div>
        <List
            className="mt-16 lg:mt-0 lg:w-1/2 lg:min-w-[33rem] lg:pl-4"
            client:load
        >
            <ListItem title="Web development" client:load>
                We specialise in crafting beautiful, high quality marketing
                pages. The rest of the website will be a shell that uses lorem
                ipsum everywhere.
            </ListItem>
            <ListItem title="Application development" client:load>
                We have a team of skilled developers who are experts in the
                latest app frameworks, like Angular 1 and Google Web Toolkit.
            </ListItem>
            <ListItem title="E-commerce" client:load>
                We are at the forefront of modern e-commerce development. Which
                mainly means adding your logo to the Shopify store template
                we’ve used for the past six years.
            </ListItem>
            <ListItem title="Custom content management" client:load>
                At Studio we understand the importance of having a robust and
                customised CMS. That’s why we run all of our client projects out
                of a single, enormous Joomla instance.
            </ListItem>
        </List>
    </div>
</Container>
