---
import { FadeIn } from "@/components/FadeIn";
import { GridPattern } from "@/components/GridPattern";
import Container from "@/components/Container.astro";
import clsx from "clsx";

interface Props {
    client: {
        logo: string;
        name: string;
    };
    class?: string;
}

const { client, class: className } = Astro.props;
---

<div
    class={clsx(
        "relative isolate bg-neutral-50 py-16 sm:py-28 md:py-32",
        className,
    )}
>
    <GridPattern
        className="absolute inset-0 -z-10 h-full w-full fill-neutral-100 stroke-neutral-950/5 [mask-image:linear-gradient(to_bottom_left,white_50%,transparent_60%)]"
        yOffset={-256}
    />
    <Container>
        <FadeIn client:load>
            <figure class="mx-auto max-w-4xl">
                <blockquote
                    class="relative font-display text-3xl font-medium tracking-tight text-neutral-950 sm:text-4xl"
                >
                    <p
                        class="before:content-['“'] after:content-['”'] sm:before:absolute sm:before:right-full"
                    >
                        <slot />
                    </p>
                </blockquote>
                <figcaption class="mt-10">
                    <img src={client.logo} alt={client.name} />
                </figcaption>
            </figure>
        </FadeIn>
    </Container>
</div>
