---
import "@/styles/tailwind.css";
import "@/styles/parasite-attack.css";

import { Image } from "astro:assets";
import backgroundImage from "@/images/games/parasite-attack-1984/1080x128_citybg.png";
import headerImage from "@/images/games/parasite-attack-1984/PA84_subscribe_header.png";

interface Props {
  title: string;
}

const { title = "DoubleWord Labs - Parasite Attack 1984" } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full bg-neutral-950 text-base antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Defend your city from grotesque parasites in Parasite Attack 1984! A chilled, strategic defense game with retro 2D pixel graphics, keyboard-controlled artillery, and endless waves of unique enemies. How long can you last?"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.violet.min.css"
    />
  </head>
  <body class="flex min-h-full flex-col text-white bg-black">
    <header
      id="header"
      class="min-w-full bg-auto lg:bg-contain bg-center bg-no-repeat"
      style={`background-image: url(${backgroundImage.src});`}
    >
      <Image src={headerImage} alt="Parasite Attack 1984" class="mx-auto" />
    </header>
    <slot />
  </body>
</html>
